@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-color: #1a1a1b;
  margin: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

h4 {
  margin: 0;
  font-weight: 100;
}

h4:last-child {
  color: #9f9f9f;
  margin-top: 3px;
}

span {
  color: #a0a0a0;
  padding: 0 7px 0 0
}

.function p {
  color: #b0b8bf;
  padding: 5px 0 0 231px;
  background-color: #3a3f49;
  margin: 0;
  width: 500%;
  position: relative;
  left: -200px;
  font-size: 13px;
}

.popover {
  width: 100%;
  background-color: #303030;
  border-radius: 9px;
  border: 1px solid #444444;
  overflow: hidden;
}

.details {
  color: #dcdcdc;
  font-family: 'Fira Code', monospace;
  font-variant-ligatures: contextual;
  font-size: 13px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 2px 2px 2px 0;
}

#first {
  padding-top: 5px;
}

#last,
.last {
  padding-bottom: 6px;
}

.details ul li:hover {
  background: #1e58c5;
  cursor: pointer;
}

.codesense-icon {
  height: 17px;
  width: 17px;
  margin-right: 85px;
  margin-left: 5px;
}

.function {
  font-family: 'Fira Code', monospace;
  font-variant-ligatures: contextual;
  color: #b0b8bf;
  font-size: 13px;
  text-align: left;
}

.func {
  color: #c895df;
  padding: 0;
}

.url {
  color: #e6cd96;
  padding: 0;
}

.func-name {
  color: #67aec8;
  padding: inherit;
}

.wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.wrapper-inner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
  margin-top: -4%;
  max-width: 90%;
  overflow: hidden;
}

.xcode {
  position: relative;
  padding: 60px 30px;
  background: #353842;
  border-radius: 8px;
  border: 1px solid #444444;
  overflow: hidden;
}

#blink {
  animation: blinker 0.45s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  color: #4b5fde;
  position: relative;
  top: -2px;
  left: -4px;
}

@keyframes blinker {
  to {
    opacity: 0;
  }
}

.title-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30px;
  background-color: #222222;
  display: flex;
  align-items: center;
}

.fas.fa-circle {
  font-size: 12px;
}

#close,
#egg {
  margin-left: 10px;
  color: #ed645a;
  animation-timing-function: ease-in-out;
  animation: .5s;
}

#egg {
  padding-top: 2px;
  margin-left: 13px;
  opacity: 0;
  position: absolute;
  z-index: -2;
  font-size: 14px;
  color: #f2a900;
}

#min {
  color: #e0c04c;
}

#max {
  color: #72be46;
}

.half-content.left {
  color: #a0a0a0;
  width: 12%;
  text-align: right;
}

.half-content {
  width: 50%;
  display: inline-block;
}

.half-content.right {
  text-align: left;
  padding-left: 11px;
}

.nav img {
  height: 100px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav-outer {
  background-color: #fff;
  width: 210px;
  height: 70px;
  color: #000;
  display: flex;
  align-items: center;
  margin: 40px;
}

.nav-inner {
  text-align: center;
  width: 100%;
  font-family: 'Fira Code', monospace;
  font-variant-ligatures: contextual;
}

.about {
  color: #fff;
  margin-bottom: 40px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  background-image: -webkit-gradient(linear, left top, right top, from(#ee65de), to(#26cbff));
  image-rendering: -webkit-gradient(linear, left top, right top, from(#ee65de), to(#26cbff));
  background-image: linear-gradient(to right, #ee65de, #26cbff);
  background-size: 100% 1px;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 0 0 40px 0;
}

.under {
  color: #fff;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 20px;
}

.fas.fa-pizza-slice {
  color: rgb(215, 151, 68);
}

.email-link {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  font-family: "Josefin Sans", sans serif;
  font-weight: 300;
  opacity: .5;
  -webkit-transition: opacity .1s ease-in;
  background-image: -webkit-gradient(linear, left top, right top, from(#ee65de), to(#26cbff));
  image-rendering: -webkit-gradient(linear, left top, right top, from(#ee65de), to(#26cbff));
  background-image: linear-gradient(to right, #ee65de, #26cbff);
  background-size: 100% 1px;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.email-link:hover {
  opacity: 1;
}

.details ul a {
  text-decoration: none;
  color: #dcdcdc;
}

/*****
          Projects
          *****/

.slider {
  position: absolute;
  width: 95%;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: #db4339;
  color: #FFF;
  transition: all 1s;
  text-align: center;
  left: 0;
  right: 0;
  margin: 20px auto 0 auto;
  border-radius: 40px 40px 0 0;
  box-shadow: 0px 0px 20px 20px #171719;
  overflow: scroll;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider.close {
  top: 100%;
  height: 0;
}

.x {
  position: fixed;
  text-align: left;
  margin: 30px 0 0 30px;
  font-size: 22px;
  color: #fff;
}

.x:hover {
  cursor: pointer;
}

.slider img {
  width: 95%;
}

.project-description {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 60px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.about-portfolio {
  color: #fff;
  margin: 40px auto 0 auto;
  max-width: 40%;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  background-image: -webkit-gradient(linear, left top, right top, from(#ee65de), to(#26cbff));
  image-rendering: -webkit-gradient(linear, left top, right top, from(#ee65de), to(#26cbff));
  background-image: linear-gradient(to right, #ee65de, #26cbff);
  background-size: 100% 1px;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 0 0 40px 0;
}

.project-button a {
  text-decoration: none;
  color: white;
  padding: 16px 42px;
  border: 1px solid #fff;
  border-radius: 7px;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  transition: all .3s;
  opacity: .7;
}

.project-button {
  padding-bottom: 55px;
}

.project-button a:hover {
  opacity: 1;
}

.project-button i {
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 10px;
}

.project.one {
  padding-top: 0;
}

.project.three img {
  width: 95%;
}

.project.four img {
  width: 95%;
}

.project {
  padding: 60px 0;
}

.project-name {
  color: #fff;
  margin: 0 auto;
  max-width: 40%;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding-top: 40px;
  font-size: 20px;
}

.project.two {
  background-image: url(/images/luna/luna-bg.jpg);
}

.project.three {
  background-image: url(/images/petsback/petsback-bg.jpg);
}

.project.four {
  background-image: url(/images/cs50/cs50-bg.jpg);
}

.project.one,
.project.two,
.project.three,
.project.four {
  background-size: cover;
  background-repeat: no-repeat;
}

/*****
Responsive
*****/

@media (min-width:380px) {
  .function {
    margin: 0 0 0 35px;
  }

  #blink {
    font-size: 15px;
  }

  #egg {
    padding-top: 4px;
  }
}

@media (min-width:800px) {
  .function {
    margin: 0 0 0 60px;
  }

  .xcode {
    padding: 60px 50px;
  }
}

@media (min-width:1200px) {
  .wrapper-inner {
    max-width: 36%;
  }

  .xcode {
    padding: 60px 70px;
  }

  .slider img {
    width: 35%;
  }

  .project.three img {
    width: 56%;
  }

  .project.four img {
    width: 66%
  }

  .project-description {
    max-width: 50%;
  }

  .function {
    margin: 0 0 0 60px;
  }

  #egg {
    padding-top: 2px;
  }
}
